.landing-container{
    height: 100vh;
    width: 100vw;
    position: relative;
}

.landing-sub-container{
    
    position:relative;
    margin-top:20px;
      
}

.collapseCard-container{
    position: absolute;
    /* top: 240px; */
    right: 16px;
    margin-left: 16px;
    width: 280px;
    max-width: calc(100% - 32px);
    /* z-index: 2000; */
    /* pointer-events: none;   */
    margin: 0 auto;
    /* margin-top: 300px*/
}

.landing-card-wrapper{
    position: relative;
    /* pointer-events: auto; */
    width: 100%;
}

.ports-card{
    background: white;
    border-radius: 6px;
    width: 100%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    /* z-index: 3000; */
}

.encroachment-container{
    position: absolute;
    top: 150px;
    width: 100%;
    /* z-index: 2500; */
}

.encroachment-card{
    background: white;
    border-radius: 6px;
    width: 100%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.landing-slider{
    position: absolute;
    bottom: 2%;
    width: 98%;
}