body{
  background: linear-gradient(to bottom, #87CEEB, #ffffff);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login, .register{
  background: linear-gradient(to bottom, #d7ebfcf2, #ffffff);
  /* background-color: #f0f8fff2; */
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);   
  border-radius: 12px;    
  height: 450px;
  width: 400px;
  border: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
  
}
.login-form, .register-form{
  width: 100%;
  padding: 2% 20% 0% 20%;
}
.register{
  height: 600px;
}

.dashboard{
  min-height: 100vh;
  min-width: 100vw;
}