body{
  background: linear-gradient(to bottom, #87CEEB, #ffffff);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login, .register{
  background: linear-gradient(to bottom, #d7ebfcf2, #ffffff);
  /* background-color: #f0f8fff2; */
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);   
  border-radius: 12px;    
  height: 450px;
  width: 400px;
  border: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
  
}
.login-form, .register-form{
  width: 100%;
  padding: 2% 20% 0% 20%;
}
.register{
  height: 600px;
}

.dashboard{
  min-height: 100vh;
  min-width: 100vw;
}
/* .mapbox-gl-draw_rectangle {
  background-image: url('data:image/svg+xml;utf8,<svg fill="black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><rect width="14" height="10" x="3" y="5" stroke="black" fill="none" stroke-width="2"/></svg>');
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
}

.mapbox-gl-draw_circle {
  background-image: url('data:image/svg+xml;utf8,<svg fill="black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><circle cx="10" cy="10" r="7" stroke="black" fill="none" stroke-width="2"/></svg>');
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
} */
